@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

[role="button"],
button {
  &:not([disabled]) {
    cursor: pointer;
  }
}

@media screen {
  html {
    --thumb-color: var(--color-gray-200);
    --track-color: var(--color-gray-500);

    scrollbar-width: thin; /* length not currently implemented 13 april 2020 */
    scrollbar-color: var(--thumb-color) var(--track-color);

    * {
      scrollbar-width: thin; /* length not currently implemented 15 november 2022 */
      scrollbar-color: var(--thumb-color) var(--track-color);
    }
  }
}
